header {
  height: 66px;
  //background-color: blue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 23.25% 0 24%;
}

.header-nav a {
  margin-left: 40px;
  font-size: 12px;
}

#logo {
  height: 42.625px;
  width: 185.125px;
}

#landing-section {
  z-index: -100;
  height: 950px;
  background-image: url("../images/background1.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  //background-color: green;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  position: relative;
}

#landing-section section {
  padding-left: 90px;
}

#landing-section h1 {
  font-size: 89px;
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 125%;

}

#landing-section h4 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-button {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  height: 88px;
  width: 222px;
  border: none;
  background-color: #706EF1;
  color: white;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (screen and max-width: 980px) {
  #landing-section h1 {
    font-size: 60px;
  }
  #landing-section h4 {
    font-size: 16px;
  }
  .contact-button {
    height: 60px;
    width: 180px;
    font-size: 16px;
  }
}

@media (screen and max-width: 800px) {
  #landing-section {
    background-image: none;
  }
}

@media (screen and max-width: 800px) {
  #landing-section {
    display: flex;
    align-items: center;
  }
  #landing-section section {
    padding-left: 0;
    padding-top: 20%;
  }
}

@media (screen and max-width: 460px) {
  #landing-section h1 {
    font-size: 40px;
  }
  #landing-section h4 {
    font-size: 13px;
  }
  .contact-button {
    font-size: 13px;
  }
  #landing-section {
    display: flex;
    align-items: center;
  }
  #landing-section section {
    padding-left: 0;
    padding-top: 35%;
  }
}
