<link rel="stylesheet" href="../../www/styles/style.css?v={time()}" type="text/css"/>
<link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css?v={time()}" type="text/css"/>
<!--
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css?v={time()}" type="text/css"/>
-->